.idea/
build/
node_modules/
*.iml
.DS_Store
.DS_Store?
*.sublime-project
*.sublime-workspace
.eslintcache
build-server.log
lintreport.txt
js/build-server/tmp*
js/scripts/maintenance/temp/
.maintenance.json
logs/
.build-server-queue
.scenerystack
deno.lock